<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SQLUI <%= config.name %> Databases</title>
  <link rel="icon" type="image/x-icon" href="<%= resource_path_map['favicon.svg'] %>">

  <style>
      body {
          font-family: Helvetica, sans-serif;
          margin: 0;
      }

      .header-box {
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid #ddd;
          height: 36px;
          font-family: Helvetica, sans-serif;
          padding: 5px;
      }

      .header, .server-name {
          display: flex;
          align-items: center;
          justify-content: start;
          color: #333;
          font-size: 22px;
      }

      .header {
          font-weight: bold;
          padding-left: 5px;
      }

      .server-name {
          flex: 1;
          padding-left: 15px;
          font-weight: normal;
      }

      .links {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 5px;
      }

      .link {
          margin-right: 30px;
          color: darkblue;
          font-size: 17px;
          text-decoration: none;
      }

      .name {
          margin: 0 200px 0 0;
          font-size: 20px;
      }

      .description {
          margin: 20px 0 0;
          font-size: 18px;
      }

      .database {
          margin: 0;
          padding: 10px;
          border-bottom: 1px solid #eeeeee;
      }

      .database:last-child {
          border-bottom: none;
      }
  </style>
</head>

<body>
<div class="header-box">
  <h1 class="header">SQLUI</h1>
  <h1 class="server-name"><%= config.name %> Databases</h1>
</div>
<% config.database_configs.each do |database_config| %>
  <div class="database">
    <h2 class='name'><%= database_config.display_name %></h2>
    <div class="links">
      <a class='link query-link' href="<%= "#{config.base_url_path}/#{database_config.url_path}/query" %>">query</a>
      <a class='link saved-link' href="<%= "#{config.base_url_path}/#{database_config.url_path}/saved" %>">saved</a>
      <a class='link structure-link' href="<%= "#{config.base_url_path}/#{database_config.url_path}/structure" %>">structure</a>
    </div>
    <p class='description'>
      <%= database_config.description %>
    </p>
  </div>
<% end %>
</body>
</html>
