<html lang="en">
<head>
  <title>Databases</title>

  <style>
      body {
          font-family: Helvetica, sans-serif;
          margin: 0;
      }

      h1 {
          font-size: 22px;
      }

      h2 {
          font-size: 20px;
      }

      p {
          font-size: 18px;
      }

      .header-box {
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid #ddd;
          height: 36px;
          font-family: Helvetica, sans-serif;
          padding: 5px;
      }

      .header, .server-name {
          display: flex;
          align-items: center;
          justify-content: start;
          color: #333;
      }

      .server-name {
          flex: 1;
          padding-left: 15px;
          font-weight: normal;
      }

      .name-and-links {
          display: flex;
          flex-direction: row;
          align-items: center;
      }

      .header {
          font-weight: bold;
          padding-left: 5px;
      }

      .database a {
          margin-right: 5px;
          color: darkblue;
          font-size: 16px;
          text-decoration: none;
      }

      .database h2 {
          margin: 0 10px 0 0;
      }

      .database p {
          margin: 10px 0 0;
      }

      .database {
          margin: 0;
          padding: 10px;
          cursor: pointer;
          border-bottom: 1px solid #eeeeee;
      }

      .database:last-child {
          border-bottom: none;
      }

      .database:hover {
          background: #eee;
      }
  </style>

  <script>
    function openDatabase(event, url) {
      if (event.shiftKey) {
        window.open(url, '_blank').focus()
      } else if (event.metaKey) {
        window.open(url).focus()
      } else {
        window.location = url
      }
    }
  </script>
</head>

<body>
<div class="header-box">
  <h1 class="header">SQLUI</h1>
  <h1 class="server-name"><%= config.name %> Databases</h1>
</div>
<% config.database_configs.each do |database_config| %>
  <div class="database" onclick="openDatabase(event, '<%= "#{database_config.url_path}/app" %>')">
    <div class="name-and-links">
      <h2 class='name'><%= database_config.display_name %></h2>
      <a class='query-link' href="<%= database_config.url_path %>/app" onclick="event.stopPropagation()">query</a>
      <a class='saved-link' href="<%= database_config.url_path %>/app?tab=saved" onclick="event.stopPropagation()">saved</a>
      <a class='structure-link' href="<%= database_config.url_path %>/app?tab=structure" onclick="event.stopPropagation()">structure</a>
    </div>
    <p class='description'>
      <%= database_config.description %>
    </p>
  </div>
<% end %>
</body>
</html>
