<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SQLUI <%= config.name %> Databases</title>
  <link rel="icon" type="image/x-icon" href="/favicon.svg">

  <style>
      body {
          font-family: Helvetica, sans-serif;
          margin: 0;
      }

      h1 {
          font-size: 22px;
      }

      h2 {
          font-size: 20px;
      }

      p {
          font-size: 18px;
      }

      .header-box {
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid #ddd;
          height: 36px;
          font-family: Helvetica, sans-serif;
          padding: 5px;
      }

      .header, .server-name {
          display: flex;
          align-items: center;
          justify-content: start;
          color: #333;
      }

      .server-name {
          flex: 1;
          padding-left: 15px;
          font-weight: normal;
      }

      .name-and-links {
          display: flex;
          flex-direction: row;
          align-items: center;
      }

      .header {
          font-weight: bold;
          padding-left: 5px;
      }

      .database a {
          margin-right: 5px;
          color: darkblue;
          font-size: 16px;
          text-decoration: none;
      }

      .database h2 {
          margin: 0 10px 0 0;
      }

      .database p {
          margin: 10px 0 0;
      }

      .database {
          margin: 0;
          padding: 10px;
          border-bottom: 1px solid #eeeeee;
      }

      .database:last-child {
          border-bottom: none;
      }
  </style>
</head>

<body>
<div class="header-box">
  <h1 class="header">SQLUI</h1>
  <h1 class="server-name"><%= config.name %> Databases</h1>
</div>
<% config.database_configs.each do |database_config| %>
  <div class="database">
    <div class="name-and-links">
      <h2 class='name'><%= database_config.display_name %></h2>
      <a class='query-link' href="<%= database_config.url_path %>/query">query</a>
      <a class='saved-link' href="<%= database_config.url_path %>/saved">saved</a>
      <a class='structure-link' href="<%= database_config.url_path %>/structure">structure</a>
    </div>
    <p class='description'>
      <%= database_config.description %>
    </p>
  </div>
<% end %>
</body>
</html>
