<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SQLUI <%= config.name %> Databases</title>
  <link rel="icon" type="image/x-icon" href="<%= resource_path_map['favicon.svg'] %>">

  <style>
      body {
          font-family: Helvetica, sans-serif;
          margin: 0;
      }

      .header-box {
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid #ddd;
          height: 36px;
          font-family: Helvetica, sans-serif;
          padding: 5px 0;
      }

      .header, .server-name {
          display: flex;
          align-items: center;
          justify-content: start;
          color: #333;
          font-size: 22px;
      }

      .header {
          font-weight: bold;
          margin-right: 30px;
          margin-left: 3px;
      }

      .header img {
          height: 20px;
          margin: 0 5px 0 5px;
      }

      .server-name {
          flex: 1;
          font-weight: normal;
          overflow: hidden;
          white-space: nowrap;
          margin: 0;
      }

      .name {
          font-size: 18px;
          color: #333;
          font-weight: bold;
          padding: 0 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 35px
      }

      .description {
          margin: 10px 0 0;
          font-size: 18px;
          padding: 5px;
      }

      .database {
          margin: 0;
          padding: 5px 10px;
          border-bottom: 1px solid #ddd;
          display: block;
          color: #333;
          cursor: pointer;
          text-decoration: none;
      }

      .name:focus-visible {
          outline: 2px solid #333;
          outline-offset: -2px;
      }

      .database:last-child {
          border-bottom: none;
      }
  </style>

  <script type="application/javascript">
    function route(event, url) {
      if (event.keyCode === 13) {
        if (event.shiftKey) {
          window.open(url).focus()
        } else if (event.metaKey) {
          window.open(url, '_blank').focus()
        } else {
          window.location = url
        }
      }
    }
  </script>
</head>

<body>
<div class="header-box">
  <div class="header"><img src="/sqlui/favicon.svg">SQLUI</div>
  <div class="server-name"><%= config.name %> Databases</div>
</div>
<% config.database_configs.each do |database_config| %>
  <a class='database' href='<%= "#{config.base_url_path}/#{database_config.url_path}/query" %>' tabindex="-1">
    <div class='name' onkeydown='route(event, "<%= "#{config.base_url_path}/#{database_config.url_path}/query" %>")' tabindex="0">
      <%= database_config.display_name %>
    </div>
    <p class='description'>
      <%= database_config.description %>
    </p>
  </a>
<% end %>
</body>
</html>
