<html>
  <head>
    <title>Databases</title>

    <style>
      body {
        font-family: Helvetica;
        margin: 0px;
      }

      h1 {
        font-size: 30px;
        margin: 10px;

      }

      .database a {
        margin-right: 10px;
        color: darkblue;
        font-size: 16px;
      }

      .database h2 {
        margin: 0px;
        font-size: 20px;
        font-weight: bold;
      }

      .database p {
        margin: 0px;
        margin-top: 10px;
        font-size: 16px;
      }

      .database {
        margin: 0px;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #eeeeee;
      }

      .database:last-child {
        border-bottom: none;
      }

      .database:hover {
        background: #eee;
      }
    </style>
  </head>

  <body>
    <h1><% config.name %> Databases</h1>
    <% config.databases.each do |database| %>
      <div class="database" onclick="window.location='<%= "#{database.url_path}/app" %>'">
      <h2 class='name'><%= database.display_name %></h2>
      <a class='query-link' href="<%= database.url_path %>/app">query</a>
      <a class='saved-link' href="<%= database.url_path %>/app?tab=saved">saved</a>
      <a class='structure-link' href="<%= database.url_path %>/app?tab=structure">structure</a>
      <p class='description'>
        <%= database.description %>
      </p>
    </div>
    <% end %>
  </body>
</html>
